/* ModalFade - the black background */
#modalFade {
  background: rgba(31,45,61,.98);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
}

#modalFade:target {
	opacity:1;
	pointer-events: auto;
}

/* Modalbox - the whitebox with content */
#modalFade > #modalBox {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8492a6;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width: 400px;
  padding: 20px 30px 40px;
  position: relative;
  margin: 12% auto 0;
  text-align: center;
}

#modalBox h1,
#modalBox h2,
#modalBox h3,
#modalBox h4 {
  font-weight: 700 !important;
  color: #3c4858;
  margin-bottom: 0;
}

#modalBox label {
  font-weight: 400 !important;
  color: #3c4858;
}

#modalBox p {
  margin: 10px 0 15px;
}

/* Close button*/
.closeModal {
  position: absolute;
  text-align: center;
  cursor: pointer;
  height: 29px;
  width: 29px;
  right: 10;
  top: 10;
}

/* Close button X shape */
.closeModal::before,
.closeModal::after {
  background-color: #8492a6;
  content: "";
  width: 16px;
  height: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  position: absolute;
  box-sizing: border-box;
  top: 14px;
  right: 6px;
}

.closeModal::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.closeModal::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.closeModal:hover::after,
.closeModal:hover::before { 
  background: #1fb6ff;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

/* Input style - Mailchimp */
input[type="email"],
input[type="text"] {
  display: block;
  margin: 0 auto;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  box-shadow: inset 0 0 0 1px #e0e6ed;
  -webkit-box-shadow: inset 0 0 0 1px #e0e6ed;
  -moz-box-shadow: inset 0 0 0 1px #e0e6ed;
  font-size: 16px;
  font-weight: 300;
  font-family: Lato;
  padding: 5px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: Lato;
  padding: 5px 20px;
  width: 70%;
  background: #13ce66;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: inset 0 -2px 0 rgba(31,45,61,.15);
}

/* Desenvolvido por COSMIT */
.powered {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  color: #4b576a;
}

.powered a {
  color: #4b576a;
  text-decoration: none;
}

.powered a:hover {
  color: #13ce66;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

/* General */
small {
  font-size: 12px;
}
